a:link{
    text-decoration:none;
}

.info{
    margin-top: -7px;
    padding: 10px;
}

.img-login{
    padding-top: 50px;
}

.cabecalho{
    padding: 25px;
}

.cabecalho > h1{
    font-size: 16pt;
}



.form{
    border: #000000 solid 1px;
}

.rodape{
    text-align: right;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 20px;
    margin-bottom: 0;
}

.form-signin{
    max-width: 390px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .form-control{
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 12pt;
}

.form-signin .form-control:focus{
    z-index: 2;
}

.form-signin input[type="number"]{
    margin-top: -6px;
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"]{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
